In [33]:
from preprocessing import load_dataset

In [34]:
import pandas as pd
# 1. Get all the review papers loaded
reviews = pd.read_json('data/preprocessed/reviews.jsonl', lines=True)

# 2. Get all the research papers loaded
# research = pd.read_json('data/preprocessed/research.jsonl', lines=True)



    # it shouldn't be!

In [35]:
reviews['pubdate'].str.replace(r'-00$', '-01', regex=True)

0       2012-09-01
1       2009-09-01
2       2024-06-01
3       2024-12-01
4       2017-08-01
           ...
2979    1974-02-01
2980    2008-05-01
2981    2021-06-01
2982    1963-07-01
2983    2015-12-01
Name: pubdate, Length: 2984, dtype: object

In [36]:
research = pd.read_json('data/preprocessed/research.jsonl', lines=True)

In [37]:
small_bodies = research[research['body'].str.len() < 1000]
small_bodies.head()

,bibcode,abstract,aff,author,bibstem,doctype,doi,id,keyword,pubdate,title,read_count,reference,data,citation_count,citation,body,dois,loaded_from
1895,1996E&PSL.143...23G,Eighteen records of relative paleointensity fr...,"[Institut de Physique du Globe, 4 place Jussie...","[Guyodo, Yohan, Valet, Jean-Pierre]","[E&PSL, E&PSL.143]",article,10.1016/0012-821X(96)00121-5,1997852,None,1996-09-00,Relative variations in geomagnetic intensity f...,0,"[1976E&PSL..29..219L, 1982E&PSL..59..404K, 198...",None,191,"[1996E&PSL.144..327G, 1997E&PSL.148..141B, 199...",Supplementary Files Correspondence email addre...,[10.1016/0012-821X(96)00121-5],data/json/Earth_Science_Research.json
4169,1996NewA....1..215L,We propose a multicomponent analysis of starbu...,"[Institut d'Astrophysique de Paris, CNRS, 98 b...","[Lançon, Ariane, Rocca-Volmerange, Brigitte]","[NewA, NewA....1]",article,10.1016/S1384-1076(96)00015-2,2010255,None,1996-11-00,Near-IR spectral evolution of dusty starburst ...,1,"[1984ApJ...285...89D, 1985ApJ...288..618R, 198...","[NED:1, SIMBAD:10]",29,"[1997A&A...326..950F, 1997AIPC..393..259H, 199...",Supplementary Files Correspondence email addre...,[10.1016/S1384-1076(96)00015-2],data/json/salvaged_articles.json
8193,2014JCAP...03..030W,The theory of eternal inflation in an inflaton...,"[SCIPP and Department of Physics, University o...","[Wainwright, Carroll L., Johnson, Matthew C., ...","[JCAP, JCAP...03]",article,10.1088/1475-7516/2014/03/030,678193,"[High Energy Physics - Theory, Astrophysics - ...",2014-03-00,Simulating the universe(s): from cosmic bubble...,82,"[1928MatAn.100...32C, 1967ApJ...147...73S, 197...",None,38,"[2014ARA&A..52..661L, 2014JCAP...04..009F, 201...","Introduction Summary of background, methods, a...","[10.1088/1475-7516/2014/03/030, 10.48550/arXiv...",data/json/salvaged_articles.json
8419,2001A&A...370L..39O,"A&amp;A, 367, L5-L8 (2001), DOI: 10.1051/0004-...","[Sterrewacht Leiden, PO Box 9513, 2300 RA, Lei...","[Overzier, R. A., Röttgering, H. J. A., Kurk, ...","[A&A, A&A...370]",erratum,10.1051/0004-6361:20010436,2181305,None,2001-05-00,Erratum: Deep VLT spectroscopy of the vec {z}=...,0,"[1986ApJ...311..526H, 1987Natur.329..604C, 199...",[NED:1],7,"[2002RMxAC..13..203O, 2003ApJ...592..755R, 200...",Deep VLT spectroscopy of the 2.49 radio galaxy...,[10.1051/0004-6361:20010436],data/json/salvaged_articles.json
9035,1996NewA....1..271K,An extensive set of molecular hydrogen observa...,[Kapteyn Institute &amp; /S//Laboratory for Sp...,"[Koornneef, Jan, Israel, Frank P.]","[NewA, NewA....1]",article,10.1016/S1384-1076(96)00011-5,2010435,None,1996-11-00,Molecular hydrogen in the central regions of s...,0,"[1981ApJ...251..523S, 1982A&A...110..336S, 198...","[NED:34, SIMBAD:48]",7,"[1998A&ARv...8..237I, 1999ApJ...527..696Q, 200...",Supplementary Files Correspondence email addre...,[10.1016/S1384-1076(96)00011-5],data/json/salvaged_articles.json

In [42]:
mid_bodies = research[(research['body'].str.len() >= 1000) & (research['body'].str.len() < 5000)]
mid_bodies.head()

,bibcode,abstract,aff,author,bibstem,doctype,doi,id,keyword,pubdate,title,read_count,reference,data,citation_count,citation,body,dois,loaded_from
224,1983ApJ...268..368E,Effective radii of Roche lobes were computed a...,"[Cambridge University, Cambridge, England]","[Eggleton, P. P.]","[ApJ, ApJ...268]",article,10.1086/160960,1527364,"[Binary Stars, Celestial Mechanics, Orbital El...",1983-05-00,Aproximations to the radii of Roche lobes.,71,"[1959cbs..book.....K, 1971ARA&A...9..183P]",None,2220,"[1983ApJ...273L..81P, 1983Natur.304..422S, 198...",1983ApJ. . .268 . .368E The Astrophysical Jour...,[10.1086/160960],data/json/Astro_Research.json
3348,2003NewAR..47..629L,Detailed analysis of HST and VLA observations ...,"[Max-Planck-Institut für Radioastronomie, Auf ...","[Lobanov, Andrei, Hardee, Philip, Eilek, Jean]","[NewAR, NewAR..47]",article,10.1016/S1387-6473(03)00109-X,2306823,None,2003-10-00,Internal structure and dynamics of the kilopar...,1,"[1989ApJ...340..698O, 1991AJ....101.1632B, 199...","[ESA:1, SIMBAD:1, hst:1]",50,"[2005ApJ...620..646H, 2005xrrc.procE7.04E, 200...","1 Introduction M87 (Virgo A, NGC 4486, 3C 274)...",[10.1016/S1387-6473(03)00109-X],data/json/doi_articles.json
5589,2001Natur.409..306S,"According to the 'snowball Earth' hypothesis, ...","[Department of Earth and Planetary Sciences, H...","[Schrag, Daniel P., Hoffman, Paul F.]","[Natur, Natur.409]",article,10.1038/35053170,11055123,None,2001-01-00,"Geophysics: Life, geology and snowball Earth",0,"[1969Tell...21..611B, 1992Natur.359..226C, 199...",None,37,"[2002AREPS..30...65S, 2002JAfES..35..451Y, 200...",Main Palaeomagnetic and geological data from N...,[10.1038/35053170],data/json/salvaged_articles.json
6017,2017SpWea..15..282J,The National Oceanic and Atmospheric Administr...,"[-, -, -]","[Jonas, Seth, Murtagh, William, Bonadonna, Mic...","[SpWea, SpWea..15]",article,10.1002/2017SW001603,10351331,"[space weather benchmarks, science policy, ope...",2017-02-00,Released for Public Comment: Space Weather Ben...,0,[2016SpWea..14...54J],None,8,"[2018SSRv..214...21R, 2018SpWea..16.1984T, 201...","On 23 January 2017, the National Oceanic and A...",[10.1002/2017SW001603],data/json/salvaged_articles.json
6606,1971ApJ...163L..97T,The absence of differences in the acceleration...,"[-, -]","[Trimble, Virginia, Woltjer, Lodewyk]","[ApJL, ApJL..163]",article,10.1086/180675,1235256,None,1971-02-00,On the Mass of the Crab Nebula,0,"[1957PASP...69..227O, 1958BAN....14...39W, 196...",None,38,"[1971IAUS...46...12T, 1972A&A....18..169I, 197...","197lApJ...163L..97T The Astrophysical Journal,...",[10.1086/180675],data/json/salvaged_articles.json

In [45]:
research.iloc[10138]['pubdate']

'1967-00-00'

In [48]:
# df = mid_bodies
mid_bodies = research[(research['body'].str.len() >= 1000)
                      & (research['body'].str.len() < 5000)]
mid_bodies['pubdate'] = mid_bodies['pubdate'].str.replace(
    r'-00', '-01', regex=True)
# mid_bodies['pubdate'] = mid_bodies['pubdate'].str.replace(
#     r'-00-', '-01', regex=True)
mid_bodies['pubdate'] = pd.to_datetime(
    mid_bodies['pubdate'], format='%Y-%m-%d', errors='coerce')
mid_bodies['pubdate'].tolist()

/var/folders/br/rmys_1r571qbwgg30gx_x2l40000gn/T/ipykernel_78571/2538919702.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_bodies['pubdate'] = mid_bodies['pubdate'].str.replace(
/var/folders/br/rmys_1r571qbwgg30gx_x2l40000gn/T/ipykernel_78571/2538919702.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_bodies['pubdate'] = pd.to_datetime(

[Timestamp('1983-05-01 00:00:00'),
 Timestamp('2003-10-01 00:00:00'),
 Timestamp('2001-01-01 00:00:00'),
 Timestamp('2017-02-01 00:00:00'),
 Timestamp('1971-02-01 00:00:00'),
 Timestamp('1996-12-01 00:00:00'),
 Timestamp('2011-08-01 00:00:00'),
 Timestamp('1998-09-01 00:00:00'),
 Timestamp('1967-01-01 00:00:00'),
 Timestamp('2009-07-01 00:00:00'),
 Timestamp('1996-03-01 00:00:00'),
 Timestamp('1974-02-01 00:00:00'),
 Timestamp('1976-10-01 00:00:00'),
 Timestamp('2012-11-01 00:00:00'),
 Timestamp('1989-01-01 00:00:00'),
 Timestamp('2023-05-01 00:00:00'),
 Timestamp('2001-04-01 00:00:00'),
 Timestamp('1992-03-01 00:00:00'),
 Timestamp('2020-02-01 00:00:00'),
 Timestamp('2010-06-01 00:00:00'),
 Timestamp('2018-01-01 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('1983-08-01 00:00:00'),
 Timestamp('2009-11-01 00:00:00'),
 Timestamp('1992-05-01 00:00:00'),
 Timestamp('1974-01-01 00:00:00'),
 Timestamp('1998-05-01 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('2010-05-01 00:00:00'),
 Timestamp('2018-03-01 00:00:00'),
 Timestamp('1972-06-01 00:00:00'),
 Timestamp('2001-05-01 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('2009-05-01 00:00:00'),
 Timestamp('1998-05-01 00:00:00'),
 Timestamp('1973-01-01 00:00:00'),
 Timestamp('1974-05-01 00:00:00'),
 Timestamp('1957-05-01 00:00:00'),
 Timestamp('2006-01-01 00:00:00'),
 Timestamp('2017-12-01 00:00:00'),
 Timestamp('2003-12-01 00:00:00'),
 Timestamp('2017-12-01 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('1974-11-01 00:00:00'),
 Timestamp('1973-11-01 00:00:00'),
 Timestamp('2006-04-01 00:00:00'),
 Timestamp('2010-03-01 00:00:00'),
 Timestamp('1997-10-01 00:00:00'),
 Timestamp('2001-01-01 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('2007-08-01 00:00:00'),
 Timestamp('2010-07-01 00:00:00'),
 Timestamp('1968-04-01 00:00:00'),
 Timestamp('2018-07-01 00:00:00'),
 Timestamp('2002-02-01 00:00:00'),
 Timestamp('2003-10-01 00:00:00'),
 Timestamp('1984-09-01 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('2015-12-01 00:00:00')]

In [51]:
mid_bodies['pubdate'].dt.strftime('%Y-%m-%d').tolist()

['1983-05-01',
 '2003-10-01',
 '2001-01-01',
 '2017-02-01',
 '1971-02-01',
 '1996-12-01',
 '2011-08-01',
 '1998-09-01',
 '1967-01-01',
 '2009-07-01',
 '1996-03-01',
 '1974-02-01',
 '1976-10-01',
 '2012-11-01',
 '1989-01-01',
 '2023-05-01',
 '2001-04-01',
 '1992-03-01',
 '2020-02-01',
 '2010-06-01',
 '2018-01-01',
 '2011-12-01',
 '1983-08-01',
 '2009-11-01',
 '1992-05-01',
 '1974-01-01',
 '1998-05-01',
 '1987-01-01',
 '2010-05-01',
 '2018-03-01',
 '1972-06-01',
 '2001-05-01',
 '1987-01-01',
 '2009-05-01',
 '1998-05-01',
 '1973-01-01',
 '1974-05-01',
 '1957-05-01',
 '2006-01-01',
 '2017-12-01',
 '2003-12-01',
 '2017-12-01',
 '1987-01-01',
 '1974-11-01',
 '1973-11-01',
 '2006-04-01',
 '2010-03-01',
 '1997-10-01',
 '2001-01-01',
 '1993-01-01',
 '2007-08-01',
 '2010-07-01',
 '1968-04-01',
 '2018-07-01',
 '2002-02-01',
 '2003-10-01',
 '1984-09-01',
 '1993-01-01',
 '2015-12-01']

In [6]:
dupes = []
for record in reviews.to_dict(orient='records'):
    if record['doi'] in research.doi.values:
        dupes.append(record)
print("Done")
print(len(dupes))

Done
1104

In [ ]:
bert = EncoderEmbedder(model_name='bert-base-uncased', device='mps', normalize=False)
bert.model.config

In [ ]:
import os

from dotenv import load_dotenv
from database.database import Database

load_dotenv('.env', override=True)

# Database setup
db_params = {
    'dbname': os.getenv('DB_NAME'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD'),
    'host': os.getenv('DB_HOST'),
    'port': os.getenv('DB_PORT')
}
db = Database(db_params)
db.test_connection()

In [ ]:
from database.database import Database
from dotenv import load_dotenv
import os

load_dotenv()
db_params = {
    'dbname': os.getenv('DB_NAME'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD'),
    'host': os.getenv('DB_HOST'),
    'port': os.getenv('DB_PORT'),
}
db = Database(db_params)

db.test_connection()
print(db.db_params)

In [ ]:
import psycopg2
from time import time
conn = psycopg2.connect(**db.db_params)
cursor = conn.cursor()

cursor.execute('SELECT text FROM chunks;')
embedding_times = []
for i in range(30):
    rows = [row[0] for row in cursor.fetchmany(1024)]
    start = time()
    embeddings = embedder(rows)
    end = time()
    embedding_times.append(end - start)
    print(f'Batch {i+1} took {end - start:.2f} seconds. Shape: {embeddings.shape}')

print(f'Average time: {sum(embedding_times) / len(embedding_times):.2f} seconds')

In [ ]:
import psycopg2
from time import time

averages = []
batch_size = 1
while batch_size < 2_500_000:
    try:
        # Get chunks from the database
        conn = psycopg2.connect(**db.db_params)
        cursor = conn.cursor()
        cursor.execute(
            f"SELECT text FROM chunks LIMIT {batch_size}")
        rows = cursor.fetchall()
        conn.close()
        chunks = [row[0] for row in rows]
        print(f"Got {len(chunks)} chunks")

        # Embed the chunks
        start = time()
        result = embedder(chunks)
        duration = time() - start
        print(f"Result shape: {result.shape}")
        averages.append(duration/batch_size)
        print(f"Batch size {batch_size} took {duration} seconds ({duration/batch_size} per chunk)")
        batch_size *= 2
    except Exception as e:
        print(e)
        break

In [ ]:
print(chunks[234])

In [ ]:
results = db.query_vector_table('bge', query_vector=embeddings[0], metric='vector_cosine_ops', top_k=5)
for result in results:
    print(result.similarity)

In [ ]:
ip_results = db.query_vector_table('bge', query_vector=embeddings[0], metric='vector_ip_ops', top_k=5)
for result in ip_results:
    print(result.similarity)

In [ ]:
import matplotlib.pyplot as plt
from random import random

plt.figure()
x = [random() for _ in range(100)]
y = [-x_i for x_i in x]
plt.plot(x, y, marker='o', label='Average Score')
plt.xlabel('Distance (n = 123)')
plt.grid(True)
plt.text(0.95, 0.05, "n = 123", horizontalalignment='right', verticalalignment='bottom')
plt.show()