In [1]:
import pandas as pd
from embedders import get_embedder

embedder = get_embedder("BAAI/bge-small-en", device="mps", normalize=True)

In [2]:
df = pd.read_json("testdata.jsonl", lines=True)
df.head()

     text            doi   pubdate
0  test 1  10.1234/test1  20210101
1  test 2  10.1234/test2  20210202
2  test 3  10.1234/test3  20210303

In [3]:
df['vector'] = df['text'].apply(embedder)
df.head()

,text,doi,pubdate,vector
0,test 1,10.1234/test1,20210101,"[-0.060111187, -0.021067526, 0.036905136, -0.0..."
1,test 2,10.1234/test2,20210202,"[-0.076028846, -0.01218686, 0.007987114, -0.02..."
2,test 3,10.1234/test3,20210303,"[-0.061360013, -0.0022692455, 0.005063857, 0.0..."

In [5]:
embedder(df['text'])

array([[-0.06011119, -0.02106753,  0.03690514, ...,  0.08453275,
         0.01998269,  0.01531839],
       [-0.07602885, -0.01218686,  0.00798711, ...,  0.07884238,
         0.02452712,  0.03444805],
       [-0.06136001, -0.00226925,  0.00506386, ...,  0.06705718,
         0.03750969,  0.04072689]], shape=(3, 384), dtype=float32)

In [7]:
df['test'] = embedder(df['text']).tolist()
df.head()

,text,doi,pubdate,vector,test
0,test 1,10.1234/test1,20210101,"[-0.060111187, -0.021067526, 0.036905136, -0.0...","[-0.060111187398433685, -0.021067526191473007,..."
1,test 2,10.1234/test2,20210202,"[-0.076028846, -0.01218686, 0.007987114, -0.02...","[-0.07602884620428085, -0.012186859734356403, ..."
2,test 3,10.1234/test3,20210303,"[-0.061360013, -0.0022692455, 0.005063857, 0.0...","[-0.061360012739896774, -0.0022692454513162374..."

In [12]:
end_idx = 2
batch_indices = df.index[0:3]
embeddings = embedder(df.loc[batch_indices, "text"])
print(embeddings.shape)

(3, 384)

In [15]:
df['test2'] = None

In [19]:
df.loc[batch_indices, "test2"] = embeddings

ValueError: Must have equal len keys and value when setting with an ndarray